body {background-color: black;}
h1 {
  color: blue;
  font-family: Ambitsek;
  font-size: 300%;
  text-align: center;
  }
h2 {
  color: white;
  font-family: Ambitsek;
  font-size: 150%;
  text-align: center;
  }
p    {
  color: white;
  font-family: Ambitsek;
  font-size: 100%;
  text-align: left;
  }
p-hidden    {
  color: rgba(0, 0, 0, 0.1);
  font-family: Ambitsek;
  font-size: 100%;
  text-align: left;
  }
p1    {
  color: 0064FF;
  font-family: Ambitsek;
  font-size: 100%;
  text-align: left;
  font-style: italic;
  }
  
p2    {
  color: white;
  font-family: Ambitsek;
  font-size: 100%;
  text-align: center;
  }

span    {
  color: lime;
  font-family: Ambitsek;
  font-size: 100%;
  text-align: left;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: Ambitsek;
  src: url(/Fonts/ambitsek.ttf);
}
body {
font-family:Ambitsek;
}

body {
  background-image: url("bg.png");
}