body {background-color: black;}
body {cursor:wait;}

h1 {
  color: blue;
  font-family: Comic Sans MS;
  font-size: 300%;
  text-align: center;
  }
h2 {
  color: white;
  font-family: Comic Sans MS;
  font-size: 150%;
  text-align: center;
  }
p    {
  color: white;
  font-family: Comic Sans MS;
  font-size: 100%;
  text-align: left;
  }
p-hidden    {
  color: black;
  font-family: Comic Sans MS;
  font-size: 100%;
  text-align: left;
  }
p1    {
  color: 0064FF;
  font-family: Comic Sans MS;
  font-size: 100%;
  text-align: left;
  font-style: italic;
  }
  
p2    {
  color: white;
  font-family: Comic Sans MS;
  font-size: 100%;
  text-align: center;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}